<br>
    <h1>
        Using the Regional Demand Modelling Tool
    </h1>
    <br>
    <p>
        <!-- TODO insert REGION and DATA SHARING AGREEMENT in deployment -->
        This tool uses SSDA903 returns from REGION that was collected as part of the REGION DATA SHARING. 
        The data stored is from {{ start_date }} to {{ end_date }}.
    </p>
    <p>
        The tool uses two critical pieces of information to create a simplified model of the care system.
        <ol>
            <li>
            Placement types
            </li>
            <li>
            Child Age
            </li>
        </ol>
    </p>
    <p>
        Start by exploring SSDA903 data for your region or by creating your base forecast. You can then 
        adjust your forecast by changing entry, exit, or transition rates.
    </p>
    <p>
        You may save your current scenario at any point during modelling to return to later.
    </p>
    <br>
