<br>
    <h1>
        Model future demand for Looked After Children's placements
    </h1>
    <br>
    <p>
        <b>The Regional Demand Modelling tool</b> is used by analysts and commissioners to forecast the demand 
        for placements for looked after children. It analyses the historical data from SSDA903 return files 
        looking at the flow of children between placement types (e.g. from a fostering to a residential 
        care placement or into or out of care).
    </p>
    <p>
        This is not a predictive model; it generates hypothetical scenarios based off model adjustments. It
         also has functionality to support analysts and commissioners to filter and bring more reality into
          the forecast by generating scenarios. This enables the user to hypothesise about potential changes
           in the future which could increase or decrease placement flows.
    </p>
    <br>
    <h2>
        Find out more
    </h2>
    <br>
    <iframe
    width="850" height="500" src="https://www.youtube.com/embed/ZM5WYEbvGJc" allowfullscreen title="Demand model - Intro">
    </iframe>
    <div class="d-flex bd-highlight mb-3">
        <div class="ms-auto p-2 bd-highlight">    
            <a class="btn btn-primary" href="{% url 'account_login' %}">Start</a>
        </div>
    </div>