<div class="row">
    {% for scenario in scenarios %}
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title ">{{ scenario.name }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ scenario.description }}</p>
                    <a href="{% url 'scenario_detail' scenario.id %}"
                        class="btn btn-primary">View</a>
                    <a href="{% url 'load_scenario' scenario.id %}"
                        class="btn btn-primary">Load scenario</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>