{% extends "dm_regional_app/base.html" %}
{% load crispy_forms_tags %}
{% load table_tags custom_tags %}


{% block content %}

<br>
    <h1>Projecting Spend</h1>
    <br>
    <p>View and edit your projected spend for your forecast. On this page you can:
        <ul>
            <li>View a summary of your forecast and any adjustments made so far</li>
            <li>Review and edit weekly costs by placement providers</li>
            <li>Review and edit historic proportions of placement providers by placement</li>
            <li>View your cost forecast</li>
            <li>View child placement numbers</li>
            <li>View a quarterly forecast breakdown</li>
            <li>Compare how adjustments have changed your cost forecast, if you have made adjustments</li>
        </ul>
    </p>
    <br>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <strong>Summary of forecast</strong>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p><strong>This is a summary view of the forecast you have created.</strong> If you would like to edit this forecast, please return to the base forecast page.
              <div class="container-sm">
                <div class="row">
                <div class="col-md-6">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <td scope="col" style="font-size: 15px; padding-top: 5px; padding-bottom: 5px;">Reference start date</td>
                    <td scope="col" style="font-size: 15px; padding-top: 5px; padding-bottom: 5px;">Reference end date</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row" style="font-size: 15px; padding-top: 5px; padding-bottom: 5px;">{{ forecast_dates.reference_start_date|date:"d/m/Y" }}</td>
                    <td scope="row" style="font-size: 15px; padding-top: 5px; padding-bottom: 5px;">{{ forecast_dates.reference_end_date|date:"d/m/Y" }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    
            <div class="row">
                <div class="col-md-6">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <td scope="col" style="font-size: 15px; padding-top: 5px; padding-bottom: 5px;">Forecast start date</td>
                    <td scope="col" style="font-size: 15px; padding-top: 5px; padding-bottom: 5px;">Forecast end date</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row" style="font-size: 15px; padding-top: 5px; padding-bottom: 5px;">
                        {% if forecast_dates.prediction_start_date %}
                            {{ forecast_dates.prediction_start_date|date:"d/m/Y" }}
                        {% else %}
                            {{ forecast_dates.reference_end_date|add_days:"1"|date:"d/m/Y" }}
                        {% endif %}
                    </td>
                    <td scope="row" style="font-size: 15px; padding-top: 5px; padding-bottom: 5px;">
                        {% if forecast_dates.prediction_end_date %}
                            {{ forecast_dates.prediction_end_date|date:"d/m/Y" }}
                        {% else %}
                            {% if forecast_dates.prediction_start_date %}
                                {{ forecast_dates.prediction_start_date|add_days:"730"|date:"d/m/Y" }}
                            {% else %}
                                {{ forecast_dates.reference_end_date|add_days:"731"|date:"d/m/Y" }}
                            {% endif %}
                        {% endif %}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            </div>
            {{ historic_filters | filter_text | safe}}
            <div class="d-flex bd-highlight mb-3">
                <div class="ms-auto p-2 bd-highlight"><a class="btn btn-primary" href="{% url 'router_handler' %}?next_url_name=prediction">Return to base forecast</a></div>
              </div>
            </div>


            {% if exit_rate_table is not None or entry_rate_table is not None or transition_rate_table is not None %}

            <div id="tables">
                <div class="card border-dark mb-3">
                    <div class="card-header">
                        <h5 class="card-title">You have made adjustments to the following rates, please click to view:<br></h5>
                        {% if entry_rate_table is not None %}
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#entering_care" role="button" aria-expanded="false" aria-controls="entering_care">
                            <span>Children entering<br></span>
                              <span>care</span>
                          </a>
                          {% endif %}
                          {% if exit_rate_table is not None %}
                          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#leaving_care" aria-expanded="false" aria-controls="leaving_care">
                              <span>Children leaving<br></span>
                              <span>care</span>
                          </button>
                          {% endif %}
                          {% if transition_rate_table is not None %}
                          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#rate_change" aria-expanded="false" aria-controls="rate_change">
                              <span>Rate of change between<br></span>
                              <span>placement types</span>
                          </button>
                          {% endif %}
                    </div>
                    <div class="card-body">
                        <p>Only rate changes are shown on this page. To view all the rates affecting your forecast and make further changes please return to the adjusted forecast.</p>
                        <p>Please note that editing these tables will return you to the adjust forecast page.</p>
                        <div class="d-flex bd-highlight mb-3">
                            <div class="ms-auto p-2 bd-highlight"><a class="btn btn-primary" href="{% url 'router_handler' %}?next_url_name=adjusted">Return to adjust forecast</a></div>
                          </div>
                        
                        <div class="accordion-group">
                            {% if entry_rate_table is not None %}
                            <div class="collapse indent" id="entering_care" data-bs-parent="#tables">
                                <div class="card card-body">
                                    <div class="table-responsive">
                                        <table id="efficiency-hub-table" class="table table-hover table-sm">
                                             {{ entry_rate_table | convert_data_frame_to_html_table | safe}}
                                        </table>
                                        <div class="d-flex bd-highlight mb-3">
                                            <div class="p-2 bd-highlight"><a class="btn btn-warning" href="{% url 'clear_rates' %}?next_url_name=costs">Clear all rate adjustments</a></div>
                                            <div class="ms-auto p-2 bd-highlight"><a class="btn btn-primary" href="entry_rates">Edit this table</a></div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if exit_rate_table is not None %}
                            <div class="collapse indent" id="leaving_care" data-bs-parent="#tables">
                                <div class="card card-body">
                                    <div class="table-responsive">
                                        <table id="efficiency-hub-table" class="table table-hover table-sm">                         
                                             {{ exit_rate_table | convert_data_frame_to_html_table | safe}}
                                        </table>
                                        <div class="d-flex bd-highlight mb-3">
                                            <div class="p-2 bd-highlight"><a class="btn btn-warning" href="{% url 'clear_rates' %}?next_url_name=costs">Clear all rate adjustments</a></div>
                                            <div class="ms-auto p-2 bd-highlight"><a class="btn btn-primary" href="exit_rates">Edit this table</a></div>
                                          </div>
                                    </div>    
                                </div>
                            </div>
                            {% endif %}
                            {% if transition_rate_table is not None %}
                            <div class="collapse" id="rate_change" data-bs-parent="#tables">
                                <div class="card card-body">
                                    <div class="table-responsive">
                                    <table id="efficiency-hub-table" class="table table-hover table-sm">
                                          {{transition_rate_table | convert_data_frame_to_html_table | safe}}
                                       </table>
                                       <div class="d-flex bd-highlight mb-3">
                                        <div class="p-2 bd-highlight"><a class="btn btn-warning" href="{% url 'clear_rates' %}?next_url_name=costs">Clear all rate adjustments</a></div>
                                        <div class="ms-auto p-2 bd-highlight"><a class="btn btn-primary" href="{% url 'router_handler' %}?next_url_name=transition_rates">Edit this table</a></div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                  </div>
                </div>
                {% endif %}



          </div>
        </div>
    </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <strong>Enter values for weekly cost per child</strong>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>See the current weekly values in £ for each placement type per day. If you wish to edit these values go to 'edit values'. 
                    You choose to apply a year-on-year inflation to your forecast.</p>
                <div class="col-md-6">
                <div class="table table-bordered">
                    <table id="efficiency-hub-table" class="table table-hover table-sm">                         
                         {{ weekly_cost | convert_data_frame_to_html_table | safe}}
                    </table>
                </div>
                <div class="d-flex bd-highlight mb-3">
                    <div class="ms-auto p-2 bd-highlight"><a class="btn btn-primary" href="{% url 'router_handler' %}?next_url_name=weekly_costs">Edit weekly costs</a></div>
                  </div>

                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Inflation parameters</h5>
                      <br>
                  <form method="post">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
              </div>
            </div>

                </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <strong>Adjust placement provider proportions</strong>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>Placement types (fostering, residential and other) are made up of different 
                providers.</p>
                
                <p>The model default will assume no change to the amount of providers within a 
                placement. For example, if 30% of fostering placements are historically "family 
                and friend" that will carry through to your forecast.</p>
                
                <p>To change the model, you can change the percentage of providers within a 
                placement type. Otherwise, you can view the default projection.</p>
                
                <p>If you want to use the table below to edit the placement type breakdown by proportion.</p>
                
                <div class="col-md-8">
                    <div class="table table-bordered">
                        <table id="efficiency-hub-table" class="table table-hover table-sm">                         
                             {{ proportions | convert_data_frame_to_html_table | safe}}
                        </table>
                    </div>
                    <div class="d-flex bd-highlight mb-3">
                        <div class="ms-auto p-2 bd-highlight"><a class="btn btn-primary" href="{% url 'router_handler' %}?next_url_name=placement_proportions">Edit placement proportions</a></div>
                      </div>
                    </div>
            </div>
          </div>
        </div>
      </div>
<br>
<p>Projected spend of the forecast you have created. 
    Hover over the graph to show your projected spend on placements</p>
{{area_costs|safe}}
<p>This graph shows the number of children in each placement over time
    from the forecast you have created. Hover over the graph to show 
    the number of children in care at any given time.</p>
{{area_numbers|safe}}


<h2 class="text-center">Year one forecast totals</h3>
    <br>
<div class="d-flex justify-content-around">
    <! -- TO DO : update logic to include proportions in proportion issue -->
{% if exit_rate_table is not None or entry_rate_table is not None or transition_rate_table is not None %}
    <div class="p-2 bd-highlight text-center">
<button type="button" class="btn btn-secondary btn-lg">{{year_one_cost}}</button>
<p>Adjusted Spend</p>
    </div>
{% endif %}
    <div class="p-2 bd-highlight text-center">
<button type="button" class="btn btn-secondary btn-lg">{{year_one_cost_base}}</button>
<p>Base Spend</p>
</div>
<! -- TO DO : update logic to include proportions in proportion issue -->
{% if exit_rate_table is not None or entry_rate_table is not None or transition_rate_table is not None %}
<div class="p-2 bd-highlight text-center">
<button type="button" class="{% if '-' in year_one_cost_difference %}btn btn-success btn-lg{% else %}btn btn-warning btn-lg{% endif %}">{% if '-' in year_one_cost_difference %}{% else %}+{% endif %}{{year_one_cost_difference}}</button>
<p>Adjusted minus Base</p>
</div>
{% endif %}
</div>
<br>
<h2>Cost breakdown</h2>
<p>Please note that if your prediction start and end dates do not align with the beginning and end of calendar quarters then the first and last quarter in the following 
  tables will not represent a total quarter figure.</p>
<br>
<! -- TO DO : update logic to include proportions in proportion issue -->
{% if exit_rate_table is not None or entry_rate_table is not None or transition_rate_table is not None %}
<h3>Adjusted forecast breakdown</h3>
<p>Your adjusted forecast breakdown includes all adjustments you have made to your forecast</p>
<table id="efficiency-hub-table" class="table table-hover table-sm">                         
    {{ summary_table | convert_summary_tables_to_html_table | safe}}
</table>
<br>
{% endif %}
<h3>Base forecast breakdown</h3>
<p>Your base forecast breakdown shows a summary of your costs without any rate or proportion adjustments to see how changes you have made affect your projected spend. 
    Adjustments to weekly placement costs and and inflation are included in this projection.</p>
<p>This forecast includes:<ul>
    <li>Any filtering applied to your reference data</li>
    <li>The dates you selected for reference and your forecast dates</li>
    <li>Any change to weekly placement costs</li>
    <li>Inflation, if you have opted to include this</li>
</ul>This forecast does not include:<ul>
    <li>Changes to entry or exit rates from care</li>
    <li>Changes to transition rates between care</li>
    <li>Adjustments you have made to placement provider proportions</li>
</ul>
<table id="efficiency-hub-table" class="table table-hover table-sm">                         
    {{ summary_table_base | convert_summary_tables_to_html_table | safe}}
</table>
<br>
<! -- TO DO : update logic to include proportions in proportion issue -->
{% if exit_rate_table is not None or entry_rate_table is not None or transition_rate_table is not None %}
<h3>Difference between adjusted and base forecast</h3>
<p>This table show the difference between your base and adjusted forecast by subtracting the base from the adjustments. 
    Negative numbers represent savings made via your adjustments and positive numbers are additional costs incurred by the adjustments.</p>
<table id="efficiency-hub-table" class="table table-hover table-sm">                         
    {{ summary_table_difference | convert_summary_tables_to_html_table | safe}}
</table>
{% endif %}

  <div class="d-flex bd-highlight mb-3">
    <div class="ms-auto p-2 bd-highlight"><a class="btn btn-info" href="{% url 'save_scenario' %}">Save scenario</a></div>
  </div>

      <div class="d-flex bd-highlight mb-3">
        <div class="p-2 bd-highlight"><a class="btn btn-secondary" href="{% url 'router_handler' %}?next_url_name=adjusted">Back</a></div>
      </div>

{% endblock %}