{% extends "dm_regional_app/base.html" %}
{% load static %}

{% block content %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<br>
    <h1>Guidance and Frequently Asked Questions</h1>
    <br>

    <h2>Model guidance</h2>

    <body>
    
        <!-- PDF embed -->
        <embed src="{% static 'pdfs\Demand_Model_functionality_guide-compressed.pdf' %}" width="90%" height="500px" type="application/pdf" />
    
        <!-- Download Link -->
        <p>
            If the PDF doesn't display, download it here:
            <a href="{% static 'pdfs\Demand_Model_functionality_guide.pdf' %}" download>Download PDF</a>
        </p>
    </body>

{% endblock %}