{% extends "dm_regional_app/base.html" %}
{% load static %}

{% block content %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<br>
    <h1>Guidance and Frequently Asked Questions</h1>
    <br>

    <h2>Model guidance</h2>
    <br>

    <div class="container">
        <iframe width="90%" height="560px" src="https://player.vimeo.com/video/1089011845?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" allowfullscreen title="Demand Model - How the model works">
        </iframe>
    </div>
    <br>
    
    <body>
    
        <!-- PDF embed -->
        <embed src="{% static 'pdfs/Demand_Model_functionality_guide-compressed.pdf' %}" width="90%" height="500px" type="application/pdf" />
    
        <!-- Download Link -->
        <p>
            If the PDF doesn't display, download it here:
            <a href="{% static 'pdfs/Demand_Model_functionality_guide.pdf' %}" download>Download PDF</a>
        </p>
    </body>

{% endblock %}