{% extends "dm_regional_app/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Regional Demand Model View and Filter Historic Data{% endblock %}

{% block content %}
    <br>
    <h1>Viewing the SSDA903 data</h1>
    <br>
    <p>Explore the make-up of the care population as represented in the SSDA903 returns. You can filter the data to see the pattern of new care episodes over time across dimensions such as placement type, provider type, child age, child ethnicity, child gender, and whether the new placement followed a breakdown.</p>
    <br>
    <p><i>Select the period of data in the SSDA903 dataset you want to explore</i></p>
    {{ form.media }}
    <form method="POST">
        {% csrf_token %}
        {% crispy form %}
    </form>
    <br>
    <div class="row">
    <div class="col">
        <h1>Total # of entry into care</h1>
        <p><h1 class="display-2">{{ entry_into_care_count }}</h1></p>
    </div>
    <div class="col">
        <h1>Total # of exiting care</h1>
        <p><h1 class="display-2">{{ exiting_care_count }}</h1></p>
    </div>
</div>
<div class="alert alert-primary" role="alert">
    {{chart|safe}}
</div>
<div class="d-flex bd-highlight mb-3">
    <div class="ms-auto p-2 bd-highlight"><a class="btn btn-primary" href="{% url 'router_handler' %}?next_url_name=prediction">Next</a></div>
  </div>
{% endblock %}