{% extends "dm_regional_app/base.html" %}
{% load crispy_forms_tags %}
{% load table_tags %}


{% block content %}

<br>
    <h1>Adjust placement proportions</h1>
    <br>
    <p>You may want to edit the proportions relating to a particular placement to give a more accurate picture of your projected spend. 
        The forecast model first works out the high level placement populations (fostering, residential, supported and other) and will
        then apply the below proportions to these placements to work out costs.</p>
    <p>New proportions will overwrite previous values. Entering proportions that sum to more than or less than one will result in the model
        scaling these values so that the total sums to 1. Weight will be given to values entered by the user.
    </p>
        <div class="table-responsive">
            <table id="transition-rate" class="table table-hover">
                <form method="post">
                {% csrf_token %}
                {% convert_df_plus_dynamicform_to_html_table placement_types form "New forecast proportion" %}
                    <tr>
                    {% if placement_types.columns|length == 3 %}
                        <td colspan="3">
                    {% else %}
                        <td colspan="4">
                    {% endif %}
                            <div class="p-2 bd-highlight">
                                <a class="btn btn-secondary" href="costs">Back</a>
                            </div>
                        </td>
                        <td>
                            <div class="p-2 bd-highlight">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </td>
                    </tr>
                </form>
            </table>
        </div>

</div>

{% endblock %}
