{% extends "dm_regional_app/base.html" %}
{% load render_table from django_tables2 %}
{% block content %}

{% if messages %}
    <div class="container mt-4">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
{% endif %}

<style>
    /* Vertically center the content in all table cells */
    .table td, .table th {
        vertical-align: middle;
    }
    .pagination a {
        margin-right: 10px; /* or any value that works */
    }
</style>

<br>
    <h1>Your saved scenarios</h1>
    <br>
    <p>View scenarios saved by users at your local authority. Click the table headers to sort the table.</p>
    {% render_table table %}
{% endblock %}
