{% extends "dm_regional_app/base.html" %}
{% load crispy_forms_tags %}
{% load table_tags %}


{% block content %}

<br>
    <h1>Adjust transition rates</h1>
    <br>
    <p>You may want to edit the number of children per year entering a placement type to give a more accurate
        picture of future forecasting or simply to explore what changes you may expect to see. <br><br>
        Rates are applied to the daily population of children. For example, a rate of 0.5 from Fostering to Residential means
        that each day, 50% of children in Fostering will move to Residential.<br>
    </p>
        <div class="table-responsive">
            <table id="transition-rate" class="table table-hover">
                <form method="post">
                {% csrf_token %}
                {% convert_data_frame_to_html_table_plus_form transition_rate_table form "Rate multiplication" %}
                <tr>
                <td colspan="3">
                    <div class="p-2 bd-highlight"><a class="btn btn-secondary" href={{rate_change_origin_page}}>Back</a></div>
                </td>
                <td>
                    <div class="p-2 bd-highlight"><button type="submit" class="btn btn-primary">Save</button></div>
                </td>
                </tr>
            </form>
            </table>
        </div>


{% if is_post is True %}
<div class="alert alert-primary" role="alert">
    {{chart|safe}}

    Adjusted forecast includes all adjustments made to rates: entry rates, exit rates, and transition rates.
</div>

<div class="d-flex bd-highlight mb-3">
    <div class="p-2 bd-highlight"><a class="btn btn-warning" href="{% url 'clear_rates' %}?next_url_name={{rate_change_origin_page}}">Clear all rate adjustments</a></div>
    <div class="ms-auto p-2 bd-highlight"><a class="btn btn-primary" href="{{rate_change_origin_page}}">
        {% if rate_change_origin_page == '/costs' %}
            Return to projecting spend
        {% elif rate_change_origin_page == '/adjusted' %}
            Return to adjust forecast
        {% endif %}
    </a></div>  
</div>

{% endif %}

</div>

{% endblock %}
