{% extends "dm_regional_app/base.html" %}
{% load crispy_forms_tags %}
{% load table_tags %}


{% block content %}
<br>
    <h1>Adjust transition rates</h1>
    <br>
    <p>You may want to edit the number of children per year entering a placement type to give a more accurate
        picture of future forecasting or simply to explore what changes you may expect to see. <br><br>
        Rates are applied to the daily population of children. For example, a rate of 0.5 from Fostering to Residential means
        that each day, 50% of children in Fostering will move to Residential.<br>
    </p>

<div class="table-responsive">
    <table id="efficiency-hub-table" class="table table-hover table-sm">
        <thead>
         {{ tran_rate_cols | convert_data_frame_to_html_table_headers | safe}}
        </thead>
        <tbody>
            {{transition_rate_table | convert_data_frame_to_html_table_rows | safe}}
          {{transition_rate_table | adjustment_buttons | safe}}
        </tbody>
    </table>
</div>
{% endblock %}