{% extends "dm_regional_app/base.html" %}
{% load crispy_forms_tags socialaccount %}

{% block content %}
  <h2>Login</h2>

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}
    <div class="col-sm-6 mb-4">
      <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="center-align">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
      </form>
    </div>
    <p>If you are accessing this site as an admin, please login via SSO:</p>
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
        <form action="{% provider_login_url 'microsoft' %}" method="post" class="mt-4">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Login with SSO</button>
        </form>

    {% endif %}
{% endblock %}
