{% extends "dm_regional_app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Login</h2>

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="center-align">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <input type="hidden" name="next" value="{{ next }}">
  </form>

  <p>If you are accessing this site as an admin, please login via SSO:</p>
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    {% endif %}

{% endblock %}
