{% extends "dm_regional_app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% if token_fail %}
        <h2>Bad Token</h2>
        <p>The password reset link was invalid, possibly because it has already been used or it has expired.
            Please request a <a href="{% url 'account_reset_password' %}">new password reset.</a>
        </p>
    {% else %}
        <h2>Change Password</h2>
        <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="center-align">
                <button type="submit" class="btn btn-primary">Change Password</button>
                <button type="submit" class="btn btn-primary" form="logout-from-stage">Cancel</button>
            </div>
        </form>
    {% endif %}
    <form id="logout-from-stage"
          method="post"
          action="{% url 'account_logout' %}">
        <input type="hidden" name="next" value="{% url 'account_login' %}">
        {% csrf_token %}
    </form>
{% endblock content %}
